/* Page Section component style */

.page-section {
    display: flex;
    width: 70vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
}

@media screen and (max-width: 800px) {
    .page-section {
        padding: 0;
    }
}