/* Logo component style */
.logo {
    color: var(--primary-Main);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo:hover {
    text-decoration: none;
}