@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --primary-100: #C3DBE5;
  --primary-300: #4E8BA6;
  --primary-500: #074058;
  --primary-700: #063042;
  --primary-900: #052533;

  /* Accent */
  --accent-100: #FFEDE5;
  --accent-300: #F2BAA2;
  --accent-500: #E59673;
  --accent-700: #8C482A;
  --accent-900: #4D1D08;

  /* Neutral */
  --neutral-100: #FFFEFC;
  --neutral-300: #CCCAC8;
  --neutral-500: #888686;
  --neutral-700: #646464;
  --neutral-900: #302F2F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Tag Styles*/
*{
  margin: 0;
  padding: 0;
  font-size: clamp(2px, 100% ,14px);
  font-weight: 300;
}

body {
  color: var(--primary-500);
  background: var(--neutral-100);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a:hover {
  text-decoration: underline;
}

/* Class Styles */
.main {
  display: flex;
  height: 100%;
  padding: 50px 110px;
  align-items: center;
  flex: 1;
  gap: clamp(15px, 2vh, 25px);
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.col {
  flex-direction: column;
  justify-content: center;
}

.closed {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.justify{
  text-align: justify;
}

.divider {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Icon style */
.caret-down {
  background: url('../../public/icons/CaretDown.svg') no-repeat center center;
  height: 20px;
  width: 20px;
  display: block;
}

.caret-up {
  background: url('../../public/icons/CaretUp.svg') no-repeat center center;
  height: 20px;
  width: 20px;
  display: block;
}

.quote {
  background: url('../../public/icons/Quote.svg') no-repeat center center;
  height: 30px;
  width: 30px;
  display: block;
}

.magnifying-glass {
  background: url('../../public/icons/MagnifyingGlass.svg') no-repeat center center;
  height: 20px;
  width: 20px;
  display: block;
}

.file-pdf {
  background: url('../../public/icons/FilePdf.svg') no-repeat center center;
  height: 20px;
  width: 20px;
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
