/* Header component style */
.header {
    display: flex;
    width: 100%;
    padding: 19px 110px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.1px solid var(--neutral-300);
}