/* Header component style */
.header {
    display: flex;
    width: 100%;
    padding: 19px 110px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.1px solid var(--neutral-300);
}

/* Style responsive */
@media (max-width: 800px) {
    .header {
      padding: 20px 20px;
    }
}