/* Footer component style */
.footer {
    color: var(--neutral-500);
    display: flex;
    height: 40px;
    padding: 19px 110px;
    justify-content: flex-end;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.footer-content > p, .footer-content a {
    font-weight: 300;
}

.footer-content > p > a:hover {
    color: var(--primary-500);
}

/* Style responsive */

@media (max-width: 800px) {
    .footer {
      justify-content: center;
      flex: 1;
      padding: 20px 0;
    }

    .footer-content {
      flex-direction: column;
      padding: 0;
      align-items: flex-start;
      justify-content: center;
    }
  }