/* Citation component styles */

.quote-icon {
    width: 100%;
}

.citation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.citation-content {
    max-width: 90%;
}