/* Navigation item style */
.nav-item {
    color: var(--primary-900);
    font-weight: 300;
}

/* Navigation item hover style */
.nav-item:hover {
    color: var(--accent-500);
    text-decoration: none;
}

/* Navigation item active style */
.nav-item.active {
    color: var(--accent-500);
    font-weight: 700;
}