/* Abstract component styles */

.abstract {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.abstract-title {
    font-weight: 200;
}

.abstract-content {
    color: var(--primary-900);
    text-align: justify;
    font-weight: 300;
}

.abstract-availability {
    color: var(--primary-900);
    font-weight: 100;
}